.intro {
    position: relative;
    width:auto;
    height: 70%;
    align-items: center;
    align-content: center;
}

.intro::before{
    content:"";
    background-image: url('background_images/homeheadbckrnd.jpg');
    background-size: 100% 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: .7;
    padding-top: 120px;
}

.intro h1 {
    position: relative;
    color: white;
    font-size: 4rem;
}

.introduction{
    position: flex;
    height: 100%;
    top: 50%;
}

.introduction::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color:black;
    opacity: .48;
    height: 100%;
}

.introduction h1 {
    top: 36%;
    position: relative;
    text-align: center;
}

.introduction p{
    top: 40%;
    position: relative;
    margin: 10px;
    color: white;
    font-size: large;
    text-align: center
}