body {
    width:100%;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

span {
    font-family: Garamond, 'Times New Roman', Times, serif;
    min-width: 50vw;
    max-height: 60vh;
    overflow-y: auto;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    border: 3px black solid;
}

.box {
    display: flex;
    align-items:center;
    justify-content: space-around;
    align-content: space-around;
    width: 100vw;
 }

.box span {
    font-size: xx-large;
    padding: 12px;
}

.centered {
    text-align: center;
}

.citation {
    font-size: xx-small;
    color: navy;
    text-align: right;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 50px;
    color: navy;
    font-style: bold;
    padding-top: 10px;
    text-align: center;
}

h3 {
    padding-top: 10px;
    text-align: center;
    font: Garamond;
}

.hold_list {
    display:flex;
    justify-content: center;
}

.key_list{
    font-weight: bolder;
    font-size: larger;
    text-align: left;
}

.ontological {
    text-align: center;
    font-size: large;
    color: midnightblue;
    font-weight: bold;
    background-color: snow;
    vertical-align: middle;
}

.pageDivider {
    width: 100%;
    height: 50px;
}

section {
    height: 100%;
    width: 100%;
    align-items: center;
    align-content: center;
    align-self: center;
    vertical-align: middle;
    padding-top: 12vh;
}

#earth {
    width: 100%;
    height: auto;
    float:left;
}

#exist {
    width: auto;
    height: 65vh;
    float:left;
}

#exists {
    flex-wrap: wrap;
    height: 50vh;
    justify-content: space-around;
}

#ev {
    width: auto;
    height: 50vh;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box img {
    height: 27vh;
    max-width: auto;
    flex-wrap: wrap;
}

.image-container {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease; /* Smooth transition effect */
}

.image-container:hover .overlay {
    opacity: 1; /* Show overlay on hover */
}

#Existence {
    background-color: azure;
    padding-top: 15%;
    height: 100%;
    align-items: center;
}

#Existence h2 {
    color: black;
}

#Existence span {
    color: black;
    align-content: center;
}

#mission {
    padding-right: 32px;
}

#nt {
    width: auto;
    height: 65vh;
    float:right;
    padding-right: 2%;
    padding-bottom: 5%;
}

#NTEvid {
    background-color: floralwhite;
    height: 100%;
    padding-top: 15%;
    padding-left: 1.5%;
    align-items: center;
}

#NTEvid span {
    color: black;
    align-content:center;
}

#NTEvid h2{
    color: black;
}

#OurMission {
    background-color:floralwhite;
    height: 100%;
    padding-top: 15%;
    align-items: center;
}

#OurMission span {
    color: black;
    align-content:center;
    border: 3px black solid;
    margin-right: 9px;
}

#OurMission h2{
    color: black;
}

#science{
    width: 100%;
    height: auto;
    float:right;
}

#WhoFor {
background-color: azure;
height: 100%;
padding-top: 15%;
align-items: center;
}

#WhoFor span {
    color: black;
    align-content: center;
    border: 3px black solid;
}

#WhoFor h2 {
    color: black;
}

#WhyImport {
background-color: floralwhite;
padding-top: 15%;
height: 100%;
align-items: center;
}

#WhyImport h2{
    color: black;
}

#WhyImport span {
    color: black;
    align-items: center;
    align-content: center;
    align-self: center;
}
