body {
    width:100%;
}

.box {
    display: flex;
    align-items:center;
    align-content: center;
 }

.box span {
    color: maroon;
    font-size: xx-large;
}

.centered {
    text-align: center;
}

.citation {
    font-size: xx-small;
    color: navy;
    text-align: right;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 50px;
    color: navy;
    font-style: bold;
    padding-top: 10px;
    text-align: center;
    font: Garamond;
}

h3 {
    padding-top: 10px;
    text-align: center;
    font: Garamond;
}

.hold_list {
    display:flex;
    justify-content: center;
}

.key_list{
    font-weight: bolder;
    font-size: larger;
    text-align: left;
}

.ontological {
    text-align: center;
    font-size: large;
    color: midnightblue;
    font-weight: bold;
    background-color: snow;
    vertical-align: middle;
}

.pageDivider {
    width: 100%;
    height: 50px;
}

section {
    height: 100%;
    width: 100%;
    align-items: center;
    align-content: center;
    align-self: center;
    vertical-align: middle;
}

#earth {
    width: 100%;
    height: auto;
    float:left;
}

#exist {
    width: auto;
    height: 65vh;
    float:left;
}

#Existence {
    background-color: whitesmoke;
    padding-top: 15%;
    height: 100%;
    align-items: center;
}

#Existence h2 {
    color: black;
}

#Existence span {
    color: black;
    align-content:center;
}

#mission {
    padding-right: 32px;
}

#nt {
    width: auto;
    height: 65vh;
    float:right;
    padding-right: 2%;
    padding-bottom: 5%;
}

#NTEvid {
    background-color: rgb(73, 188, 211);
    height: 100%;
    padding-top: 15%;
    padding-left: 1.5%;
    align-items: center;
}

#NTEvid span {
    color: white;
    align-content:center;
}

#NTEvid h2{
    color: white;
}

#OurMission {
    background-color: rgb(73, 188, 211);
    height: 100%;
    padding-top: 15%;
    align-items: center;
}

#OurMission span {
    color: white;
    align-content:center;
}

#OurMission h2{
    color: white;
}

#science{
    width: 100%;
    height: auto;
    float:right;
}

#WhoFor {
background-color: whitesmoke;
height: 100%;
padding-top: 15%;
align-items: center;
}

#WhoFor span {
    color: black;
    align-content: center;
    border: 3px black solid;
}

#WhoFor h2 {
    color: black;
}

#WhyImport {
background-color: rgb(73, 188, 211);
padding-top: 15%;
height: 100%;
align-items: center;
}

#WhyImport h2{
    color: white;
}

#WhyImport span {
    color: white;
    align-items: center;
    align-content: center;
    align-self: center;
}
