.anchor {
    display: block;
    position: relative;
    top: -30vh;
    visibility: hidden;
}

.screenTop {
    position:fixed;
    background-color: #3a84ef;
    width:100%;
    justify-content:center;
    z-index: 100;
}

.header-stuff {
    height: 27vh;
}

#siteHeader {
    height: 16vh;
}

#headerPic{
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.headers {
    height: 15vh;
    display: flex;
    align-items: center;

}

.navbar {
    height: 12vh;
    display: inline-block;
    overflow:hidden;
}

.patreon {
    float: right;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-right: 15px;
    height: 7vh;
}

.subnav {
    width: 100%;
    display: inline-block;
}

.subnavbtn {
    display: inline-block;
}

/* The subnavigation menu */
.subnav {
    float: left;
    overflow: hidden;
  }
  
  /* Subnav button */
  .subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

.navbar-menu {
    margin: 0px;
    list-style-type: none;
}

.navbar a {
    float: top;
    color: white;
    font-size: medium;
    width: 14%;
    height: auto;
    float: left;
    text-align: center;
    line-height: 120px;
    vertical-align: middle;
    text-decoration: none;
    height: 99%;
}

.home a:hover{
    font-weight: bold;
    font-size: 15px;
    color: white;
    -webkit-text-stroke: .35px black;
    background-image: url('./background_images/homelink.jpg');
    background-size: 100% 100%;
}

.cosmo:hover{
    font-weight: bold;
    font-size: 15px;
    color: white;
    -webkit-text-stroke: .35px black;
    background-image: url('./background_images/cosmolink.gif');
    background-size: 100% 100%;
}

.cosmo a:hover{
    font-weight: bold;
    font-size: 15px;
    color: white;
    -webkit-text-stroke: .35px black;
    background-image: url('./background_images/cosmolink.gif');
    background-size: 100% 100%;
}

.intdes a:hover{
    font-weight: bold;
    font-size: 15px;
    color: white;
    -webkit-text-stroke: .35px black;
    background-image: url('./background_images/idlink.gif');
    background-size: 100% 100%;
}

.morallaw a:hover{
    font-weight: bold;
    font-size: 15px;
    color: white;
    -webkit-text-stroke: .35px black;
    background-image: url('./background_images/morallink.png');
    background-size: 100% 100%;
}

.reliability a:hover{
    font-weight: bold;
    font-size: 15px;
    color: black;
    -webkit-text-stroke: .35px white;
    background-image: url('./background_images/nttrue.jpg');
    background-size: 100% 100%;
}

.truth a:hover{
    font-weight: bold;
    font-size: 15px;
    color: black;
    -webkit-text-stroke: .35px white;
    vertical-align: top;
    background-image: url('./background_images/truthlink.gif');
    background-size: 100% 100%;
}

/*.rise a {
    transition: width 100ms;
    transition-timing-function: linear;
}*/

.rise a:hover{
  /*  z-index: 1001;
    width: 35%;
    position:absolute; */
    font-weight: bold;
    font-size: 15px;
    color: black;
    -webkit-text-stroke: .35px white;
    background-image: url('./background_images/riselink.gif');
    background-size: 100% 100%;
}

.navbar-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Styles for mobile devices (e.g., phones) */
@media (max-width: 480px) {
    .navbar {
        justify-content: center;
        align-content: center;
        display: block;
        overflow-y: scroll;
    }
    .navbar-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #3a84ef;
        position: fixed;
        height: 100vh;
    }

    .navbar-menu.show {
        display: flex;
    }

    .navbar-menu a {
        width: 90%;
    }

    .navbar-menu li {
        margin: 0;
        text-align: center;
    }

    .navbar-toggle {
        display: block;
        margin: 0 auto;
    }
}