h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: clamp(28px, 5vh, 86px);
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #C9FFEB;
    font-size: clamp(28px, 4vh, 86px);

}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #C9FFEB;
    font-size: clamp(28px, 3.5vh, 86px);

}

h1.cosmological {
    background-color: #C9FFEB;
    color: #942A12;
    font-weight: bold;
}

p {
    vertical-align: middle;
    align-items: center;
    align-content: center;
    align-self: center;
    font-family: Garamond, 'Times New Roman', Times, serif;
    overflow-y: auto;
    font-size: clamp(16px, 3vh, 48px);
}

section {
    padding-top: 27vh;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
}

.close {
    padding-top: 27vh;
    padding-left: 0;
    padding-right: 0;
    height: 100vh;
}

.intro {
    background-color: #942A12;
    color: #C9FFEB;
    align-content: center;
    text-align: center;
}

#acronym {
    color: #C9FFEB;
    font-weight: 300;
    font-size: clamp(28px, 3.5vh, 86px);
}

#introduction {
    vertical-align: middle;
    align-items: center;
    align-content: center;
    text-align: center;
}

.evidence_background {
    position: relative;
    width: auto;
    align-items: center;
    align-content: center;
}

.evidence_background::before {
    content: "";
    background-image: url('background_images/evidence.jpg');
    background-size: 100% 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: .8;
}

cite {
    padding-top: 20vh;
}

.flexbox {
    display: flexbox;
    justify-content: space-around;
    height: 100%;
}

.evidence {
    position: flex;
    height: 100%;
    top: 27vh;
}

.evidence::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #942A12;
    opacity: .65;
    height: 100%;
}

.evidence h2 {
    top: 25%;
    position: relative;
    text-align: center;
    color: #C9FFEB;
}

.anchor {
    scroll-behavior: smooth;
}

#end {
    height: 90vh;
    align-self: start;
}
.evidence p {
    font-family: Garamond, 'Times New Roman', Times, serif;
    border: white 2px solid;
    padding: 12px;
    top: 27%;
    position: relative;
    margin: 25px;
    color: #C9FFEB;
    font-size: clamp(16px, 3vh, 36px);
    text-align: center;
    overflow-y: auto;
    max-height: 35vh;
}

.interactions_image {
    position: relative;
    width: auto;
    align-items: center;
    align-content: center;
}

.interactions_image::before {
    content: "";
    background-image: url('background_images/interactions.jpg');
    background-size: 100% 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: .8;
}

.interactions {
    position: flex;
    height: 100%;
    top: 25%;
}

.interactions::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #942A12;
    opacity: .65;
    height: 100%;
}

.interactions h2 {
    top: 25%;
    position: relative;
    text-align: center;
    color: #C9FFEB;
}

.interactions p {
    font-family: Garamond, 'Times New Roman', Times, serif;
    border: white 2px solid;
    padding: 12px;
    top: 27%;
    position: relative;
    margin: 25px;
    color: #C9FFEB;
    font-size: clamp(16px, 3vh, 36px);
    text-align: center;
    overflow-y: auto;
    max-height: 35vh;
}

.conversions_image {
    position: relative;
    width: auto;
    align-items: center;
    align-content: center;
}

.conversions_image::before {
    content: "";
    background-image: url('background_images/conversions.jpg');
    background-size: 100% 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: .65;
}

.conversions {
    position: flex;
    height: 100%;
    top: 25%;
}

.conversions::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #942A12;
    opacity: .65;
    height: 100%;
}

.conversions h2 {
    top: 25%;
    position: relative;
    text-align: center;
    color: #C9FFEB;
}

.conversions p {
    font-family: Garamond, 'Times New Roman', Times, serif;
    border: white 2px solid;
    padding: 12px;
    top: 27%;
    position: relative;
    margin: 25px;
    color: #C9FFEB;
    font-size: clamp(16px, 3vh, 36px);
    text-align: center;
    overflow-y: auto;
    max-height: 35vh;
}

.deathimage {
    position: relative;
    width: auto;
    align-items: center;
    align-content: center;
}

.deathimage::before {
    content: "";
    background-image: url('background_images/death.jpg');
    background-size: 100% 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: .8;
}

.death {
    position: flex;
    height: 100%;
    top: 25%;
}

.death::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #942A12;
    opacity: .65;
    height: 100%;
}

.death h2 {
    top: 25%;
    position: relative;
    text-align: center;
    color: #C9FFEB;
}

.death p {
    font-family: Garamond, 'Times New Roman', Times, serif;
    border: white 2px solid;
    padding: 12px;
    top: 27%;
    position: relative;
    margin: 25px;
    color: #C9FFEB;
    font-size: clamp(16px, 3vh, 36px);
    text-align: center;
    overflow-y: auto;
    max-height: 35vh;
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

.box img {
    min-width: 200px;
    width: 23vw;
    opacity: 1;
}

.image-container {
    position: relative;
}

.image-container:hover .overlay {
    opacity: 1;
    /* Show overlay on hover */
}

.overlay {
    z-index: 1000000;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black background */
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
    align-items: center;
    opacity: 0;
    /* Initially hidden */
    transition: opacity 0.3s ease;
    /* Smooth transition effect */
    font-size: clamp(12px, 3vh, 60px);
}

.overlay-link {
    display: block;
    width: 100%;
    height: 100%;
}