h3 {
    padding-top: 10px;
    text-align: center;
    font: Garamond;
}

h2 {
    padding-top: 10px;
    text-align: center;
    font: Garamond;
}

h1 {
    font-size: 4rem;
}

h1.cosmo {
    color: midnightblue;
    text-align: center;
}

body {
    width:100%;
}

.navbar {
    width: 100%;
    background-color: black;
    display: inline-block;
}

.navbar ul {
    margin: 0px;
    list-style-type: none;
}

.navbar a {
    float: top;
    color: white;
    font-size: medium;
    width: 14%;
    height: auto;
    float: left;
    text-align: center;
    line-height: 120px;
    vertical-align: middle;
    text-decoration: none;
}

.home a:hover{
    font-weight: bold;
    font-size: 15px;
    color: white;
    -webkit-text-stroke: .35px black;
    background-image: url('./background_images/homelink.jpg');
    background-size: 100% 100%;
}

.cosmo a:hover{
    font-weight: bold;
    font-size: 15px;
    color: white;
    -webkit-text-stroke: .35px black;
    background-image: url('./background_images/cosmolink.gif');
    background-size: 100% 100%;
}

.intdes a:hover{
    font-weight: bold;
    font-size: 15px;
    color: white;
    -webkit-text-stroke: .35px black;
    background-image: url('./background_images/idlink.gif');
    background-size: 100% 100%;
}

.morallaw a:hover{
    font-weight: bold;
    font-size: 15px;
    color: white;
    -webkit-text-stroke: .35px black;
    background-image: url('./background_images/morallink.png');
    background-size: 100% 100%;
}

.reliability a:hover{
    font-weight: bold;
    font-size: 15px;
    color: black;
    -webkit-text-stroke: .35px white;
    background-image: url('./background_images/nttrue.jpg');
    background-size: 100% 100%;
}

.truth a:hover{
    font-weight: bold;
    font-size: 15px;
    color: black;
    -webkit-text-stroke: .35px white;
    vertical-align: top;
    background-image: url('./background_images/truthlink.gif');
    background-size: 100% 100%;
}

/*.rise a {
    transition: width 100ms;
    transition-timing-function: linear;
}*/

.rise a:hover{
  /*  z-index: 1001;
    width: 35%;
    position:absolute; */
    font-weight: bold;
    font-size: 15px;
    color: black;
    -webkit-text-stroke: .35px white;
    background-image: url('./background_images/riselink.gif');
    background-size: 100% 100%;
}


.header {
    position: relative;
    width:100%;
    height:400px;
}

.header::before{
    content:"";
    background-image: url('background_images/homeheadbckrnd.jpg');
    background-size: 100% 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: .7;
    padding-top: 120px;
}

.header h1 {
    position: relative;
    color: white;
    font-size: 4rem;
}

.headerhead{
    position: relative;
    height: 90px;
}

.headerhead::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color:black;
    opacity: .48;
    height: 400px;
}

.headerhead h1 {
    position: relative;
    text-align: center;
}

.headerhead p{
    position: relative;
    margin: 10px;
    color: white;
    font-size: large;
    text-align: center;
}

.centered {
    text-align: center;
}

.citation {
    font-size: xx-small;
    color: navy;
    text-align: right;
}

.cosmological {text-align: center;}

.box {
    display: flex;
    align-items:center;
 }

.box span {
    color: maroon;
    font-size: xx-large;
}

.pageDivider {
    width: 100%;
    height: 50px;
}

.ontological {
    text-align: center;
    font-size: large;
    color: midnightblue;
    font-weight: bold;
    background-color: snow;
}

h2 {
    font-size: 50px;
    color: navy;
    font-style: bold;
}

#earth {
    width: 33%;
    height: auto;
    float:left;
}

#science{
    width: 33%;
    height: auto;
    float:right;
}

#cosmohead{
    color: snow;
    font-weight: 300;
    background-color: black;
}