body {
    width:100%;
}

.box {
    display: flex;
    align-items:center;
 }

.box span {
    color: maroon;
    font-size: xx-large;
}

.centered {
    text-align: center;
}

.citation {
    font-size: xx-small;
    color: navy;
    text-align: right;
}

.cosmological {
    text-align: center;
}

#earth {
    width: 33%;
    height: auto;
    float:left;
}

h1 {
    font-size: 4rem;
}

h1.cosmo {
    color: midnightblue;
    text-align: center;
}

h2 {
    font-size: 50px;
    color: navy;

    font-style: bold;
}

h2 {
    padding-top: 10px;
    text-align: center;
    font: Garamond;
}

h3 {
    padding-top: 10px;
    text-align: center;
    font: Garamond;
}

.hold_list {
    display:flex;
    justify-content: center;
}

.key_list{
    font-weight: bolder;
    font-size: larger;
    text-align: left;
}

.pageDivider {
    width: 100%;
    height: 50px;
}

.ontological {
    text-align: center;
    font-size: large;
    color: midnightblue;
    font-weight: bold;
    background-color: snow;
}

#science{
    width: 33%;
    height: auto;
    float:right;
}

