body {
    width:100%;
}

.box {
    display: flex;
    align-items:center;
 }

.box span {
    color: maroon;
    font-size: xx-large;
}

.centered {
    text-align: center;
}

.citation {
    font-size: xx-small;
    color: navy;
    text-align: right;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 50px;
    color: navy;
    font-style: bold;
    padding-top: 10px;
    text-align: center;
    font: Garamond;
}

h3 {
    padding-top: 10px;
    text-align: center;
    font: Garamond;
}

.hold_list {
    display:flex;
    justify-content: center;
}

.key_list{
    font-weight: bolder;
    font-size: larger;
    text-align: left;
}

.ontological {
    text-align: center;
    font-size: large;
    color: midnightblue;
    font-weight: bold;
    background-color: snow;
    vertical-align: middle;
}

.pageDivider {
    width: 100%;
    height: 50px;
}

section {
    height: 90%;
    width: 100%;
    align-items: center;
    align-content: center;
    align-self: center;
    vertical-align: middle;
}

#earth {
    width: 100%;
    height: auto;
    float:left;
}

#Existence {
    background-color: blueviolet;
    height: 100%;
    align-items: center;
}

#NTEvid {
    background-color: crimson;
    height: 100%;
    align-items: center;
}

#OurMission {
    background-color: darkblue;
    height:100%;
    align-items: center;
}

#science{
    width: 100%;
    height: auto;
    float:right;
}

#WhoFor {
background-color: green;
height: 100%;
align-items: center;
}

#WhoFor span {
    color: white;
    align-content: center;
    width: 75%;
}

#WhoFor h2 {
    color: white;
}

#WhyImport {
background-color: yellow;
height: 100%;
align-items: center;
}

#WhyImport h2{
    color: white;
}

#WhyImport span {
    color: white;
    align-items: center;
    align-content: center;
    align-self: center;
    width: 75%;
}
